<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="buscar" method="POST">
        <input placeholder="Buscar pokemon" name="nome" type="text">
        <button type="submit" name="buscar">Buscar</button>
        <img src=" "> <br>
        <h3> {{nome}}</h3>
        <img src="{{foto}}">
        <img src ="{{shiny}}">
        <h3>{{tipo}}</h3>
    </form>
</body>
</html>